@page
@model AboutMeModel

@{
    ViewData["Title"] = "About Me";
}

<h2>About Me</h2>

<div class="container">
    <div class="row">
        <div class="col">
            <div class="flex-lg-column">
                <span>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut scelerisque diam at ipsum rhoncus, vel 
                    ullamcorper sem hendrerit. Cras viverra suscipit erat, sed consequat felis porta maximus. Aliquam nec 
                    est enim. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam justo sapien, bibendum vitae 
                    finibus vel, iaculis sed lectus. Duis ullamcorper aliquet fringilla. Phasellus vitae tellus metus. Maecenas 
                    lobortis, tortor ac tempor pellentesque, quam augue lobortis lorem, at pharetra libero ligula pretium quam.
                    Morbi ut magna vel tellus tempor molestie non ut metus. Mauris a arcu sem. Duis maximus, odio id pulvinar 
                    porta, ex arcu auctor nisl, at condimentum justo mauris in tortor. Duis eu pretium magna. Maecenas blandit 
                    maximus risus, in hendrerit mauris laoreet eget. Donec vehicula maximus libero, in rhoncus lorem bibendum 
                    vel.
                </span>
            </div>    
        </div>
        <div class="col icons">
            <div class="flex-lg-column">
                <img class="aboutMe" src="images/aboutMe.jpg" width="300" height="300" alt="About Me Photo"/>
            </div>    
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="flex-lg-column">
                <span>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut scelerisque diam at ipsum rhoncus, vel 
                    ullamcorper sem hendrerit. Cras viverra suscipit erat, sed consequat felis porta maximus. Aliquam nec 
                    est enim. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam justo sapien, bibendum vitae 
                    finibus vel, iaculis sed lectus. Duis ullamcorper aliquet fringilla. Phasellus vitae tellus metus. Maecenas 
                    lobortis, tortor ac tempor pellentesque, quam augue lobortis lorem, at pharetra libero ligula pretium quam.
                    Morbi ut magna vel tellus tempor molestie non ut metus. Mauris a arcu sem. Duis maximus, odio id pulvinar 
                    porta, ex arcu auctor nisl, at condimentum justo mauris in tortor. Duis eu pretium magna. Maecenas blandit 
                    maximus risus, in hendrerit mauris laoreet eget. Donec vehicula maximus libero, in rhoncus lorem bibendum 
                    vel.
                </span>
            </div>    
        </div>
        <div class="col icons">
            <div class="flex-lg-column" >
                <a href="www.linkedin.com/in/kristopher-doidge-985119b5" style="color:#000">
                    <i class="fab fa-linkedin" style="font-size: 48px;"></i>
                </a>
                <a href="https://github.com/kris-doidge" style="color:#000">
                    <i class="fab fa-github" style="font-size: 48px;"></i>
                </a>
            </div>    
        </div>
    </div>    
    

</div>
