@page
@model AboutMeModel

@{
    ViewData["Title"] = "About Me";
}

<div class="container">
    <div class="row">
        <div class="col">
            <div class="flex-lg-column">
                <h4>Biography</h4>
                <div>
                    My name is Kristopher Doidge and was born and raised in Fort Lee, NJ. Starting at a young age,
                    my parents got me involved in Baseball and since then there has been no coming back. Most of my time
                    growing up we were traveling around the tri-state area to play in different leagues and tournaments,
                    with the Cooperstown tournaments being my favorite. Starting this at an early age taught me
                    everything
                    I know about being a part of a team and something that is bigger than just yourself. Not only did
                    this create and fuel my competitive drive, but it also taught me accountablity and leading by
                    example.
                    While memories of the big hits or big pitches will not be forgotten, what made it all worth it was
                    the
                    friendships garnered and impacts I was able to make on my teammates and community that mean the most
                    to me.
                    <br/>
                    When I wasn't playing Baseball, Video Games were my second passion. Every game was a new skill to
                    learn
                    and each brought different problems to solve. From studying the macros of the game to maximize
                    resource
                    efficiency to the micros of the impact of every minor move, the challenge of constantly learning
                    kept
                    my mind stimulated. During the years of meeting other gamers, a few of my friends introduced me to
                    development when I began looking into school. And that's where my journey into Software began.
                    <br/>
                    In 2012 I began studying for my Associates in Computer Science at Bergen Community College in
                    Paramus, NJ.
                    During my first couple years learning about development, it didn't feel challenging enough to make
                    me
                    want to invest my time into it. It wasn't until taking Intro to Data Structures that really caught
                    my
                    interest. Between that class and Object Oriented Programming, that's when I started to make the
                    connections to resource and time efficiency. It was showtime.
                    <br/>
                    Going into 2016, I had applied and been accepted to Florida State University. My brother attended
                    the University of Tampa and had always told me how great his experience was moving to Florida, so I
                    decided to join him and make the move. For me, the education was important but also the sports and
                    experiences that came along with it. FSU had all of it. So in the Winter of 2016 I began studying
                    for
                    my Bachelors of Science in Computer Science.
                    <br/>
                    Time flew by, a lot of studying and late nights, but having a sports venue almost everyday I could
                    walk
                    and spectate made it all worth it. Fast forward to the Summer of 2018, I completed my studies and
                    landed
                    my first job in Tampa, FL with AgileThought as a Jr Information Technology Associate. AgileThought
                    was
                    a great first job to have as the culture was the priority and that made it easy to want to go in
                    everyday
                    and learn. Followed by working as a QA Analyst Team Lead with Deloitte, I've had the opportunity to
                    work at some awesome companies and alongside amazing individuals.
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <div class="col icons">
                    <div class="flex-lg-column">
                        <img class="aboutMe" src="images/aboutMe.jpg" width="300" height="300" alt="About Me Photo"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col icons">
                    <div class="flex-lg-column">
                        <a href="https://www.linkedin.com/in/kristopher-doidge-985119b5" style="color:#000">
                            <i class="fab fa-linkedin" style="font-size: 48px;"></i>
                        </a>
                        <a href="https://github.com/kris-doidge" style="color:#000">
                            <i class="fab fa-github" style="font-size: 48px;"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <div class="row">
        <div class="col">
            <div class="flex-lg-column">
                <h4>Hobbies</h4>
                <ul>
                    <li>Baseball/Softball</li>
                    <li>Video Games</li>
                    <li>Coding</li>
                    <li>Skiing</li>
                </ul>
            </div>
        </div>
    </div>


</div>
