@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center" xmlns="http://www.w3.org/1999/html">
    <h1 class="display-4">Welcome</h1>
    <img class="homepageIcon" src="images/headshot.jpg" width="300" height="300" alt="Headshot Cover Photo"/>
    <a asp-page="/Resume">
        <button class="btn homepage">Resume</button>
    </a>
    <a asp-page="/Portfolio">
        <button class="btn homepage">Portfolio</button>
    </a>
    <a asp-page="/AboutMe">
        <button class="btn homepage">About Me</button>
    </a>
    <p>Let's go Mets!</p>
</div>
