@page
@model PortfolioModel

@{
    ViewData["Title"] = "Portfolio";
}

<h2>Portfolio</h2>
<div class="grid-container">
    <div class="row">
        @foreach (var r in Model.GitReposes)
        {
            <div class="gitChips bg-light col-sm">
                <a href="@r.html_url">
                    <div class="gitName">
                        <span class="gitName">@r.name</span>
                    </div>
                </a>
                <hr>
                <div class="gitImg">
                    <img height="250" width="250" src="images/csharpicon.png" alt="About Me Photo"/>
                </div>
                <hr>
                <div class="gitDescription">@r.description</div>
            </div>
        }
    </div>
</div>